*{
    font-family: sans-serif;
    font-weight: 100;
    
}

body {
    background: #000;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #333;
    margin: 50px 50px;
    padding: 20px;
}

.form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
}

.form textarea {
    min-height: 140px;
    resize: none;
}

.form__input {
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #1c7;
    background: transparent;
    color: #fff;
}

.form__input:focus {
    background: linear-gradient(to bottom, transparent, #222);
    outline: none;
    border-bottom: 3px solid #5ad
}

.form__img {
    flex: 1;
    padding: 10px;
    display: flex;
    min-width: 300px;
    max-width: 400px;
    order: 2;
}

.form__img div {
    padding: 10px;
}

.img-container {
    margin: auto;
}

.img-container div {
    background: linear-gradient(to top, rgb(80, 23, 212), #fff);
    border-radius: 50%;
    text-align: center;
    padding: 40px
}

.form__img img {
    width: 80%;
}

.form__section input{
    font-size: 14px;
}
.form__section textarea{
    font-size: 14px;
}

.form input[type="submit"] {
    background-color: #1c7;
    padding: 12px;
    border: none;
    font-size: 16px;
}

.form input[type="submit"]:hover {
    background-color: rgb(11, 179, 103);
    padding: 12px;
    border: none;
    font-size: 16px;
}

.form input[type="submit"]:focus {
    background-color: #1c7;
    background: linear-gradient(to bottom, rgb(72, 187, 135), rgb(22, 131, 82));
}

